* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	background-color: darkslategray;
}

header {
	width: 100vw;
	height: 20vh;
	background-color: #2b2b2b;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	gap: 10vw;
}

header h1 {
	background-color: rgb(39, 91, 109);
	height: 50%;
	font-size: 3.6vh;
	text-align: right;
	color: #2b2b2b;
}

header, ul {
	display: flex;
	flex-direction: row;
	gap: 10vw;
}

header ul li {
}

li {
	list-style: none;
}

section, div, a, img {
	width: 80%;
	height: auto;
	margin: auto;
}

#main-image {
	width: 100%;
}